body {
  margin: 400px 350px 0px 250px;
  background-image: url("../img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
}
header h1 {
  position: absolute;
  text-align: center;
  top: 76px;
  left: 32%;
  font-size: 50px;
}
.form h2 {
  font-size: 30px;
}
.form label,
input {
  font-size: 20px;
}

.global {
  display: flex;
  width: 100%;
  padding: 20px;
}
.searchPart {
  width: 50%;
  text-align: center;
}
.searchPart h2 {
  font-size: 30px;
}
.searchPart label,
input {
  font-size: 20px;
}
.form {
  width: 50%;
  text-align: left;
}
.contacts {
  font-size: 30px;
}
.contacts p {
  color: red;
}
