body {
  margin: 100px;
}
body p {
  font-size: 20px;
}
.baniere {
  position: relative;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  background-image: url("../img/1.jpg");
  width: 100%;
  margin-bottom: 20px;
}
.design {
  background-color: aliceblue;
  border: solid black 2px;
  text-align: center;
}
.top {
  display: inline-block;
  width: 20%;
  border: solid black 1px;
}
.top p {
  width: 100%;
}
.test {
  text-align: left;
  margin: 5px;
  display: inline-block;
  height: 200px;
}
.body {
  margin: 10px;
  width: 100%;
}
.prix {
  text-align: center;
  margin: 20px;
}
.foot div {
  background-color: black;
  height: 500px;
  text-align: center;
}
.foot img {
  top: 20px;
  position: relative;
}
.align_bug {
  transform: translateY(11%);
}
